@charset "utf-8";
#box .font {
	width: 225px;
	top:40px;
	left: 0;
	text-align: center;
	color: #fff;
    background: rgba(0,0,0,0.5);	
	position: absolute;
	z-index: 4000; /*设置元素的堆叠顺序，属性值越大，该元素层离用户越近*/
	transition: all 1.0s ease 0.25s;/*过渡动画：所有属性都改变，时长0.5s,速率逐渐变慢，延迟0.3s*/
    -webkit-transition: all 1.0s ease 0.5s;
}
#box:hover .font {
	left: 300px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transition: all 1.0s ease 0.25s;/*过渡动画：所有属性都改变，时长0.5s,速率逐渐变慢，延迟0.3s*/
    -webkit-transition: all 1.0s ease 0.0s;
}
