@charset "utf-8";
/*写好样式，进行隐藏，用top:-240px;*/
#box:hover:before {
	top: 35px;
}
#box:hover:after {
	bottom: 35px;
}
/*before   after为选择器，一般给选择器加动画背景，设置动画样式*/
#box:before {
    content: "";
    position: absolute;
    top: 200px;
    right: 200;
    width: 225px;
    height: 200px;
    background: rgba( 133, 203,190,0.5);
    transform: rotate(0deg) translateX(0px);/*变形：旋转55度，水平（向右）移动60px*/
    -webkit-transform: rotate(0deg) translateX(0px);
    transform-origin: 100% 0%;/*设置元素变形起始点*/
    -webkit-transform-origin: 100% 0%;
    transition: all 0.75s ease 0.25s;/*过渡动画：所有属性都改变，时长0.5s,速率逐渐变慢，延迟0.3s*/
    -webkit-transition: all 0.75s ease 0.25s;
}
#box:after {
    content: "";
    position: absolute;
    bottom: 200px;
    left: 200;
    width: 225px;
    height: 200px;
    background: rgba( 133, 203,190,0.5);
    transform: rotate(0deg) translateX(0px);
    -webkit-transform: rotate(0deg) translateX(0px);
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    transition: all 0.75s ease 0.25s;
    -webkit-transition: all 0.75s ease 0.25s;
}
