body{
	background-image: url(../images/body.gif);
	margin: 0;
	animation: mymove 1.0s forwards;
}
@keyframes mymove
{
	0%{
		background-color: rgba(0,0,0,1.00);
		transform: translate(0,-900px);
	}
	to{
		
	}
}
a{
	color: #000;
	text-decoration: none;
}
p{
	text-indent: 2pc;
	font-size: 12px;
	line-height: 30px;
}
#bigbox{
	margin: 0 auto;
	width: 960px;
	background-color: rgba(255,255,255,1.00);	
}
#top img{
	float:left;	
}
.menu{
	border-top-width: 10px;
	border-top-style: groove;
	border-top-color: #000;
	background-color: #FFF;
}
.menu a{
	width: 60px;
	font-size: 15px;
	line-height: 44px;
	padding: 0 5px;
	display: inline-block;
	text-align: center;
	-webkit-transition: all 1s .25s;
	-o-transition: all 1s .25s;
	transition: all 1s .25s;
}
.menu a:hover{
	color: #FFF;
	background-color: #F00;	
	-webkit-transition: all 1s .25s;
	-o-transition: all 1s .25s;
	transition: all 1s .25s;
	transform: translate(0,5px);
}
#load{
	line-height: 40px;
	font-size: 12px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(239,239,239,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(239,239,239,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(239,239,239,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(239,239,239,1.00) 100%);
}
#text{
	width: 900px;
	margin: 0 auto;
}
#text h4{
	text-align: center;
}
#text .date{
	color: #666;
	border-top: 1px dashed #666;
	text-align: right;
	font-size: 13px;
}
.photo{
	margin: 0 auto;
	width: 500px;	
}
#copyright{
	background-color: rgba(178,166,149,1.00);
	font-size: 13px;
	text-align: center;
	margin: 10px 0;
	padding: 25px 0;
}